{% extends "index.html" %}
{% block body %}
<link rel="stylesheet" href='/static/style.css' />

  <body>
    <div id="root">
      <div class="LandingLayout">
        <nav class="LandingLayout_header">
          <div class="header_main">
            <button class="header_main_btn">
              <div class="header_main_btn_txt">СХД-120</div>
              <div class="header_main_btn_arrow"></div>
            </button>
          </div>
          <div class="header_section">
            <button class="header_section_btn_active">Температура дисков</button>
            <button class="header_section_btn">Заполненность дисков</button>
            <button class="header_section_btn">Нумерация дисков</button>
          </div>
        </nav>
        <div class="LandingLayout_content">
        </div>
        <div class="container-1">
          <img src="../static/1.jpeg"> 
            <table>
                <tbody>
                    {% for heat in temp_log.heatmap %}
                        <tr>
                            {% for temp in heat[::-1] %}
                                <th style="background-color: {{ set_color(temp) }};">{{ temp }}</th>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}